.heroDiv {
    width: 75vw;
    height: 50vh;
    background: whitesmoke;
    border: 1px solid lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}