.switchDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25vw;
  max-height: 2em;
}

.devSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  max-height: 2em;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.markSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  max-height: 2em;
  background-color: white;
  color: black;
  border: 1px solid black;
}
