.Home {
    display: flex;
    flex-direction: column;
}

.HeroBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.Timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}