.Home {
    display: flex;
    flex-direction: column;
}

.HeroBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.Timeline {
    width: 100vw;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}