.Navbar {
    width: 100vw;
    max-width: 100vw;
    height: 5em;
    background-color: black;
    color: white;
    display: flex;
    margin-bottom: 1em;
}

.Name {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding-left: 1.65em;
}

.Menu {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    padding-right: 1.65em;
}