.App {
  height: 100vh;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Home {
  display: flex;
  flex-grow: 2;
}

.SwitchBar {
  position: fixed;
  bottom: 0;
}
