.App {
  height: 100vh;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative
}

.SwitchBar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
